{% extends 'base.html' %}
{% block content %}


{% load socialaccount %}
{% load auth_extras %}
<html>

<head>
  <title>arEd</title>
</head>

<body>
  <br/>
  <br/>
  <br/>
  <br/>
  <h1>BLOGS</h1>

  <ul>
    <br />
    <div class="row">
      {% for blog in object_list %}
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ blog.title }} - {{ blog.author }}</h5>
            <p class="card-text">{{ blog.short_description }}</p>
            <a href="{% url 'blog-detail' blog.slug %}" class="btn btn-primary">Read More</a>
            <small style="padding-left: 180px;">{{ blog.published_date }} -
              {{blog.blog_readtime}} min{{ blog.blog_readtime|pluralize }} read</small>
          </div>
        </div>
      </div>
      <!-- <li><a href="{% url 'blog-detail' blog.pk %}">{{ blog.title }}</a>- {{ blog.author }}-
      {{blog.published_date}}
      <br />
      {{ blog.short_description }}</li> -->

      {% endfor %}
  </ul>

</body>

</html>
{% endblock %}
